footer {
    background-color: #1e3d58;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.footer-section {
    width: 45%;
}
.footer-section p, .footer-section a {
    color: white;
    margin: 5px 0;
}
.footer-section a:hover {
    text-decoration: underline;
}
.footer-section ul {
    list-style-type: none;
    padding: 0;
}
.footer-section ul li {
    margin: 5px 0;
}
.copyright {
    margin-top: 20px;
}

@media (max-width: 920px) {
    .footer-container {
        flex-direction: column;  
        align-items: center;    
        gap: 70px;              
    }

    .footer-section {
        width: 100%;         
        text-align: center;      
    }

    .footer-section a {
        display: inline-block;  
        margin: 5px 0;
    }
}