#portfolio{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    font-weight: bold;


}

#carousel1{
    margin: 0px 40px;
    height: 40vw;
    border: 1px solid black;
}

#carousel1 img{
    height: 100%;
    width: 100%;
}


#carousel2{
    margin: 0px 40px;
    height: 40vw;
    border: 1px solid black;
}

#carousel2 img{
    height: 100%;
}



#carousel3{
    margin: 0px 40px;
    height: 40vw;
    border: 1px solid black;
}

#carousel3 img{
    height: 100%;
}

#carousel4{
    margin: 0px 40px;
    height: 40vw;
    border: 1px solid black;
}

#carousel4 img{
    height: 100%;
}

#carousel5{
    margin: 0px 40px;
    height: 40vw;
    border: 1px solid black;
}

#carousel5 img{
    height: 100%;
}

#carousel6{
    margin: 0px 40px;
    height: 40vw;
    border: 1px solid black;
}

#carousel6 img{
    height: 100%;
}

#carousel7{
    margin: 0px 40px;
    height: 40vw;
    border: 1px solid black;
}

#carousel7 img{
    height: 100%;
}

.projet{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#btn-prev{

    border:none;
    margin:2px;
    font-size: 2vw;
    cursor:pointer;
    width:5vw;
    height:5vw;
    border-radius:50%;
    position:relative;  
    z-index: 1;
    top: 22vw;
    font-weight: bold;
    background-color: white;
    color: grey;
    box-shadow: -0.1em 0 .4em black;

}

#btn-prev:hover{
    color: white;
    background-color: grey;
}

#btn-next{

    border:none;
    margin:2px;
    font-size: 2vw;
    cursor:pointer;
    width:5vw;
    height:5vw;
    border-radius:50%;
    position:absolute;  
    z-index: 1;
    top: 22vw;
    font-weight: bold;
    background-color: white;
    color: grey;
    box-shadow: -0.1em 0 .4em black;
    right: 1px;
    }

    #btn-next:hover{
        color: white;
        background-color: grey;
    }


    @media (max-width: 768px) {

  #portfolio {
    flex-direction: column; 
    align-items: center;
    padding-top: 50px;
  }



  .projet {
    font-size: 1.2em;       
    padding: 15px;
  }



}
