#profile{
    background-color: #5dade2;
    padding-top: 100px;
    height: 650px;
    color: black;
    display: flex;
    justify-content: center;

}

#contenair-profile{
    width: 600px;
    border: solid white 5px;
    border-radius: 5px;
    height: 450px;
    padding: 50px;
}
#profile h1{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

@media (max-width: 768px) {

  #profile {
    height: auto;             
    padding-top: 120px;       
    padding-bottom: 120px;
  }

  #contenair-profile {
    width: 90%;                
    height: auto;            
    padding: 25px;
  }

  #profile h1 {
    margin-bottom: 30px;
  }

  #profile {
  scroll-margin-top: 100px; 
}
}