#skills h1{
    display: flex;
    justify-content: center;  
    margin-bottom: 100px;
}

#contenair-skills{
    display: flex;
}

#skills div{
    width: 100%;
}

#description{
    text-align: center;

}

#description img{
  width: 90%;          
    max-width: 500px;   
    height: auto;        
    border-radius: 5px;
    border: 1px solid #1e3d58;
    margin: 0 auto 20px auto;
    display: block;
}

#skills img{
    margin-bottom: 30px;
}

#skills a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color: #1e3d58;
    border-radius: 100px;
    padding: 20px;
    display: inline-block;
}

#skills a:hover{
    color: #1e3d58;
    background-color: white;
    border: 1px solid #1e3d58;
}


#img-skills img{
    width: 10vw;
    height : 10vw;
    object-fit:contain;

}

#OS{
    text-align: center;

}

#OS div{
    margin-bottom: 20px;
}

#Outils{
    text-align: center;
}

#Outils div{
    margin-bottom: 20px;
}

#Langages {
    text-align: center;
}

#Langages div {
    margin-bottom: 20px;
}

@media (max-width: 768px) {


  #skills h1 {
    margin-bottom: 50px;
    font-size: 1.8rem;
    text-align: center;
  }

 
  #contenair-skills {
    display: flex;
    flex-direction: column;  
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }


  #skills div {
    width: 100%;
    margin-bottom: 30px;
  }


  #description {
    text-align: center;
  }

  #description img {
    width: 80%;         
    max-width: 300px;    
    border-radius: 5px;
    border: 1px solid #1e3d58;
    margin: 0 auto 20px auto;
    display: block;
  }

 
  #skills img {
    width: 100%;          
    max-width: 350px;
    margin-bottom: 20px;
  }

  #skills a {
    padding: 15px;
    font-size: 0.9rem;
    margin-bottom: 15px;
  }


  #img-skills img {
    width: 20vw;
    height: 20vw;
    max-width: 120px;
    max-height: 120px;
  }


  #OS, #Outils, #Langages {
    text-align: center;
  }

  #OS div, #Outils div, #Langages div {
    margin-bottom: 15px;
  }

}
