#welcome {
  
   padding-top: 200px;
   padding-bottom: 200px;
   padding-left: 10vw;

}

#welcome a {
    color: transparent;}

    a:hover{text-decoration: none;}


    #welcome p {
    text-transform: uppercase;
    color: transparent;
    font-size: 0px;
}

#welcome p span{
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: clamp(20px, 3vw, 120px);
}


#welcome span:after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-101%);
}


#welcome p:nth-child(1) {

    animation: txt-appearance 0s 1s forwards;
}
#welcome p:nth-child(2) {

    animation: txt-appearance 0s 1.25s forwards;
}
#welcome p span a  {

    animation: txt-appearance 0s 1.5s forwards;


}



#welcome p:nth-child(1) span::after {
    background: salmon;
    animation: slide-in 0.75s ease-out forwards,
    slide-out 0.75s 1s ease-out forwards;
}
#welcome p:nth-child(2) span::after {
    background: royalblue;
    animation: slide-in 0.75s 0.3s ease-out forwards,
    slide-out 0.75s 1.3s ease-out forwards;
}
#welcome p:nth-child(3) span::after {
    background: rgb(89, 91, 95);
    animation: slide-in 0.75s 0.5s ease-out forwards,
    slide-out 0.75s 1.5s ease-out forwards;
}



@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}
@keyframes slide-out {
    100% {
        transform: translateX(100%)
    }
}
@keyframes txt-appearance {
    100% {
        color: #100;
      
    }
    
}


@media (max-width: 768px) {

  #welcome {
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 0;
    text-align: center;

    scroll-margin-top: 160px; 
  }

  #welcome p span {
    font-size: clamp(22px, 8vw, 48px);
  }
}
